#ham {
  display: none;
}

body {
  height: 200vh;
}
body {
  min-height: 100vh;
}
.block{
  height: 100vh;
}
h1{
  text-align: center;
}
#myTableUsager td{
  text-align: center;
}
#btnqrcodeusager{
  float: left;
  margin-left: 18%;
}
.button-anim{
  position: absolute;
  left: 30%;
}
header{
  height: 100vh;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.table{
  width: 84% !important;
  max-width: 100% !important;
  margin-bottom: 1rem !important;
  left: 140px ;
  position: absolute !important;
  margin-top: -40px !important;
}
/* table{
position: absolute;
left: 141px;
width: 87%;
}
td,tr, th{
border : 2px solid;
text-align: center;
} */

.text{
  background-color: #e8e2e2b0;
  box-shadow: 4px 5px 11px black;
  border-radius: 7px;
  padding: 20px 100px 20px 100px;
  color: #101011 ;
  -webkit-animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1000ms both;
  animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1000ms both;
}


#reponse, #reponseEmprunterLivre, #reponseRendreLivre, #reponseSupprimerLivre,#reponseUsager, #reponseSupprimerUsager{
  margin-top: 34px;
  font-size: 20px;
}
#reponseSupprimerUsager p{
  font-size: 29px;
  margin-top: 34px;
}
#reponseUsager{
  margin-left: 190px;
}
#validerisbn, #validerRendre, #validerSupprimer{
  display: none;
}
#effacer,#effacerEmprunt, #effacerRendre, #effacerSupprimer{
  display: none;
}
#reponse {
  position: absolute;
  width: 66vw;
  height: 65vh;
  left : -55px;
}

.text p{
  font-size: 23px;
}

@media screen and (max-width: 575px) {
  h1 {
    text-align: center;
    font-size: 40px;
  }
  #reponse{
    left: 70px;
  }
  .table{
    left: 0px !important;
  }
  #menuToggle {
    display: block;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -27px;
    left: -27px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  /*
  * Just a quick hamburger
  */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    top: -23px;
    left: -23px;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
  }
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  /*
  * Transform all the slices of hamburger
  * into a crossmark.
  */
  #menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  /*
  * But let's hide the middle one.
  */
  #menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  /*
  * Ohyeah and the last one should go the other direction
  */
  #menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  /*
  * Make this absolute positioned
  * at the top left of the screen
  */
  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    top: 50px;
    padding-top: 60px;
    background: #ededed;
    list-style-type: none;

    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }
  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  /*
  * And let's slide it in from the left
  */
  #menuToggle input:checked~ul {
    transform: none;
  }
}
@media screen and (min-width: 1620px) {
  .table{
    left : 215px ;
  }
}


/* ----------------------------------------------
* Generated by Animista on 2018-6-17 12:52:5
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation tracking-in-expand-fwd
* ----------------------------------------
*/
@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
